#menu{
    height:1080px;
    width:20%;
    float:left;
}

#header{
    width:70%;
    height:50px;
    float:right;
}

#content{
    width:80%;
    float:right;
}

/deep/ .ui-datatable-thead tr .ui-state-default {
    background-color: #008e77;
    color: #fff;
    line-height: 1.42857143;
}

