<div id="menu">
  <!-- Master Table-->
  <p-dataTable [(value)]="inputData" selectionMode="single" [(selection)]="selectedItem" [responsive]="true" (onRowDblclick)="editMaster($event)">   
      <p-column styleClass="col-button" [style]="{'width':'50px'}">
      <ng-template let-car="rowData" pTemplate="body">
        <button type="button" pButton (click)="removeMaster(car)" icon="fa-times" class="ui-button-warning"></button>
      </ng-template>
    </p-column>
      <p-column field="master"  [header]="masterTitle"></p-column>
</p-dataTable>
</div>

<div id="header">
<ng-content></ng-content>
</div>

<div id="content">
  <!-- Detail Table-->
  
    <div style="text-align:right;padding:4px 10px;border-bottom: 0 none">    
      <input #gb type="text" pInputText size="20" >
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    </div> 
  <p-dataTable [value]="selectedItem?.detail" [globalFilter]="gb" #dt [(selection)]="selectedDetail" [responsive]="true" (onRowDblclick)="editDetail($event)" >
    <p-column styleClass="col-button" [style]="{'width':'50px'}">
      <ng-template let-car="rowData" pTemplate="body">
        <button type="button" pButton (click)="removeDetail(car)" icon="fa-times" class="ui-button-warning"></button>
      </ng-template>
    </p-column>
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [editable]="true"></p-column>
    <p-column [style]="{'width':'38px'}" [selectionMode]="detailSelectMod"></p-column>
  </p-dataTable>
</div>
