<div id="toolbar">
     <button type="button" pButton icon="fa-plus" style="float:left" (click)="addMaster()" label="AddMaster" class="ui-button-secondary"></button>
     <button type="button" pButton icon="fa-plus" style="float:left" (click)="addDetail()" label="AddDetail" class="ui-button-secondary"></button>
     <button type="button" pButton icon="fa-check" style="float:left" (click)="select()" label="Select" class="ui-button-success"></button><p>雙擊可修改</p>
</div>
<app-master-detail #md
    [masterTitle]="masterTitle"
    [inputData]="inputData"
    [cols]="cols"
    [detailSelectMod]="detailSelectMod"
    (onSelectDetail)="selectedDetail($event)"
    (onEditedData)="editedData($event)"
    (onEditMaster)="editMaster($event)"
    (onEditDetail)="editDetail($event)"
></app-master-detail>
<!--新增Master-->
<p-dialog [(visible)]="displayDialogMaster" [responsive]="true" showEffect="fade" [modal]="true" width="350">   
    <p-header>
        <i class="fa fa-file" style="margin:4px 4px 0 0"></i>Add Master
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="masterName">MasterName</label></div>
            <div class="ui-grid-col-8"><input pInputText id="masterName" [(ngModel)]="masterName" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="closeMaster()" label="close" class="ui-button-warning"></button>
            <button type="button" pButton icon="fa-check" (click)="saveMaster()" label="Save" class="ui-button-success"></button>
        </div>
    </p-footer>
</p-dialog>
<!--新增Detail-->
<p-dialog [(visible)]="displayDialogDetail" [responsive]="true" showEffect="fade" [modal]="true" width="350">
    <p-header>
        <i class="fa fa-file" style="margin:4px 4px 0 0"></i>Car Details
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">Vin</label></div>
            <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="car.vin" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="year">Year</label></div>
            <div class="ui-grid-col-8"><input pInputText id="year" [(ngModel)]="car.year" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="brand">Brand</label></div>
            <div class="ui-grid-col-8"><input pInputText id="brand" [(ngModel)]="car.brand" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="color">Color</label></div>
            <div class="ui-grid-col-8"><input pInputText id="color" [(ngModel)]="car.color" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="closeDetail()" label="close" class="ui-button-warning"></button>
            <button type="button" pButton icon="fa-check" (click)="saveDetail()" label="Save" class="ui-button-success"></button>
        </div>
    </p-footer>
</p-dialog>
<!--編輯Master-->
<p-dialog [(visible)]="displayEditMaster" [responsive]="true" showEffect="fade" [modal]="true" width="350">
    <p-header>
        <i class="fa fa-file" style="margin:4px 4px 0 0"></i>Edit Master
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="masterName">MasterName</label></div>
            <div class="ui-grid-col-8"><input pInputText id="masterName" [(ngModel)]="masterName" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="closeMaster()" label="close" class="ui-button-warning"></button>
            <button type="button" pButton icon="fa-check" (click)="saveEditMaster()" label="Save" class="ui-button-success"></button>
        </div>
    </p-footer>
</p-dialog>
<!--編輯Detail-->
<p-dialog [(visible)]="displayEditDetail" [responsive]="true" showEffect="fade" [modal]="true" width="350">
    <p-header>
        <i class="fa fa-file" style="margin:4px 4px 0 0"></i>Car Details
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">Vin</label></div>
            <div class="ui-grid-col-8"><input pInputText id="vin" [(ngModel)]="car.vin" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="year">Year</label></div>
            <div class="ui-grid-col-8"><input pInputText id="year" [(ngModel)]="car.year" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="brand">Brand</label></div>
            <div class="ui-grid-col-8"><input pInputText id="brand" [(ngModel)]="car.brand" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="color">Color</label></div>
            <div class="ui-grid-col-8"><input pInputText id="color" [(ngModel)]="car.color" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="closeDetail()" label="close" class="ui-button-warning"></button>
            <button type="button" pButton icon="fa-check" (click)="saveEditDetail()" label="Save" class="ui-button-success"></button>
        </div>
    </p-footer>
</p-dialog>